/* galindo-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Galindo';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/galindo-v24-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Zabars';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Zabars.ttf') format('woff2');
}

* {
    box-sizing: border-box;
}

.gameBody {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100svh;
    background: url('img/main_background.svg') no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Zabars', sans-serif;
}

.gameBody h1 {
    font-size: 56px;
}

canvas {
    background-color: black;
}

.imprint-privacy {
    margin: 32px 64px;
    max-width: 1440px;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

a:hover {
    color: #679B17;
}

.imprint-privacy-body {
    font-family: 'Galindo', sans-serif;
    background-color: #F7C065;
}