/* galindo-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Galindo';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/galindo.woff2') format('woff2');
}

/* underdog-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Underdog';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/underdog.woff2') format('woff2');
  }

* {
    box-sizing: border-box;
}

.d-none {
    display: none !important;
}

.keys {
    height: 32px;
}

.gameBody {
    margin: 0;
    flex-direction: column;
    background: url('img/sunset_background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Underdog', sans-serif;
}

.gameBody h1 {
    font-size: 56px;
    letter-spacing: 4px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

#canvas {
    width: 100%; 
    max-height: 100vh;
    background-color: black;
    display: block;
}

.imprint-privacy {
    margin: 32px 64px;
    padding: 32px 100px;
    max-width: 1440px;
    font-family: 'Galindo', sans-serif;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

a:hover {
    color: #679B17;
}

.imprint-privacy-body {
    background-color: #F7C065;
    margin: 0;
}

.d-flex-jc-ac {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
}

.d-flex-jc {
    display: flex;
    justify-content: center;
}

button {
    font-family: 'Underdog', sans-serif;
    font-size: 24px;
    background-color: #679B17;
    padding: 8px;
    border: none;
}

.buttons {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    right: 0;
    left: 0;
    top: 16px;
}

.buttonImages {
    height: 64px;
    cursor: pointer;
}

.fullScreenButton {
    height: 32px;
    cursor: pointer;
}

.buttonImagesSound {
    height: 32px;
    cursor: pointer;
}

.gameButtons {
    position: absolute;
    display: none;
    justify-content: space-between;
    right: 0;
    left: 0;
    bottom: 5%;
    margin: 0 32px;
}

.mobileGameButtonImage {
    height: 32px;
}

.buttonSmallContainer {
    display: flex;
    gap: 32px;
}

.buttonContainer {
    width: 56px;
    height: 56px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.d-flex {
    display: flex !important;
}

#instructions {
    position: absolute;
    width: 100%;
    padding: 64px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 32px;
    background-color: #F7C065;
}

.keysContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

#container {
    position: relative;
    width: 720px;
    height: 480px;
}

.mobileOrientationContainer {
    display: none;
}

@media only screen and (max-width: 730px) {
    canvas {
        width: 100%;
    }

    h1 {
        display: none;
    }

    .gameButtons {
        display: flex;
    }

    #helpButton {
        display: none;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100svh;
    }

    h1 {
        display: none;
    }

    .gameButtons {
        display: flex;
    }

    #helpButton {
        display: none;
    }
}

@media screen and (orientation:portrait) and (max-width: 719px) {
    #canvas {
        display: none;
    }

    .buttons {
        display: none;
    }

    #mobileGameButtons {
        display: none;
    }

    .orientation {
        height: 128px;        
    }

    h1 {
        display: none;
    }

    .mobileOrientationContainer {
        background-color: #679B17;
        height: 256px;
        width: 256px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
    }

    #container {
        display: none;
    }
}